.contact{
    margin: auto;
    text-align: center;
}
.input{
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    outline:none;
    width: 20vw;
}

.msg{
    height: 15vh;
}

.submit{
    width: 10vw;
    text-align: center;

}

@media only screen and (max-width: 600px) {
    .input{
        width: auto;
    }
    .submit{
        width: auto;
    }
}