@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300;400;500;700&display=swap');

:root{
  --primary-color: #F2C94C;

  --bgColor: rgba(0, 0, 0, 0.623);
  /* --black: #333333; */
  /* --width-break: 600px; */
}

body {
  font-family: 'Noto Sans TC', sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bgColor);
}



